<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
<meta charset="UTF-8">
<title>HMP</title>

<link rel="icon" href="img/emp-login.png">
<!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="css/style.css" rel="stylesheet">

<!-- DataTables CSS and JS CDN -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    
    <!-- DataTables Buttons extension for export functionality -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body>

  <nav class="navbar navbar-light fixed-top navbar-dark " style="background-color: black;">
  <div class="container-fluid">
     <h3> <a class="navbar-brand" th:href="@{/user-dashboard}">HR Management Portal</a></h3>
    <form class="d-flex">
      <a th:href="@{/user-dashboard}"class="btn btn-primary" style="background-color: black;"> DashBoard</a>	
	   <a th:href="@{/user-compose}" class="btn btn-primary ms-4" style="background-color: black;">Compose</a>
	   <a th:href="@{/user-profile}" class="btn btn-primary  ms-4" style="background-color: black;" > My-Profile</a>	
	   <a th:href="@{/user-setting}" class="btn btn-primary  ms-4 " style="background-color: black;"> Setting</a>	
	   <a th:href="@{/user-attendence}" class="btn btn-primary  ms-4 me-4" style="background-color: black;"> Attendence</a>	
	   
       <div class="btn-group dropstart">
		     <img src="img/login.wenp" class="me-2" data-bs-toggle="dropdown"   aria-expanded="false" style="width: 35px; height: 35px; cursor: pointer; border-radius: 50%">
		     <ul class="dropdown-menu">
		   <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i> &nbsp;&nbsp; <span th:text="${session.name}">Tejas Rajendra Bhansali</span></a></li> 
			<li><a class="dropdown-item" href="#"><i class="fas fa-laptop-code"></i>&nbsp; <span th:text="${session.desg}">Software Engineer</span></a></li><hr>
			<li><a class="dropdown-item" th:href="@{/login}"><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a></li>

		  </ul>
		</div>
		 
    </form>
  </div>
</nav>

 <div class="container-fluid" style="position: fixed; top: 0; bottom: 0; height: 100vh; background-color: black;">
        <div class="row">
           
            <main  style="padding-top: 60px; background-color: #f2f3f4; height: 100vh; overflow-y: auto;">
                 <!-- Content -->
                 <div th:replace="${content}"></div>
                 
           
      
            </main>
        </div>
    </div>
    
    <nav class="navbar navbar-light fixed-bottom d-block d-md-none" style="background-color: #e3f2fd;">
    <div class="d-flex justify-content-around w-100">
        <a th:href="@{/dash-board}" class="flex-fill text-center"><i class="fas fa-tachometer-alt"></i></a>
        <a th:href="@{/add-employee}" class="flex-fill text-center"><i class="fas fa-user-plus"></i></a>
        <a th:href="@{/all-employee}" class="flex-fill text-center"><i class="fas fa-users"></i></a>
        <a th:href="@{/all-employee}" class="flex-fill text-center"><i class="fas fa-pencil-alt"></i></a>
        <a th:href="@{/create-post}" class="flex-fill text-center"><i class="fas fa-tasks"></i></a>
        <a th:href="@{/my-profile}" class="flex-fill text-center"><i class="fas fa-user"></i></a>
        <a  th:href="@{/setting}" class="flex-fill text-center"><i class="fas fa-cog"></i></a>
    </div>
</nav>
    
</body>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/emp.js"></script>


<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    
    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'pdfHtml5'
            ]
        });
    });
    
   

</script>
</html>